// ! удалить ++++++++++++++++++++++
.тестовая-рамка {
  border: 2px solid #ff0000;
}
.тестовая-рамка {
  border: 2px solid #ff0000;
}
.тестовая-рамка-2 {
  border: 2px solid #fffb00;
}
// ! удалить ++++++++++++++++++++++^
@import "./body_light";
@import "./body_dark";
@import "./fonts_connect";
@import "./reset_styles";

:root {
  --darc-bg-color: #020216;
  --darc-text-M-colof: #fcffda;
  --darc-text-G-colof: #00b15e;
  --light-bg-color: #f1f1f1;
  --light-text-BG-colof: #003b1f;
  --light-text-B-colof: #010225;
}

.body {
  position: relative;
}

.btn-site-style {
  background-color: initial;
  border: none;
}
.btn-site-style__icon {
  height: 50px;
  width: 50px;
  border: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.main {
  padding: 0px 2vw;
}

// .main__content {
//   height: 100vh;
// }

.about__content {
  display: flex;
  gap: 2vw;
}

.about__content_text {
  width: 100%;
}

.skill-icons {
  iframe {
    width: 100%;
    height: 120px;
  }
}

.dark-menu__ul-min,
.light-menu__ul-min {
  position: relative;
  ul {
    position: absolute;
    width: 100px;
  }
}

.ul-min {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  border-radius: 5px;

  i {
    display: inline-block;
    height: 2px;
    width: 20px;
  }
}

.light-menu__ul-min:hover ul,
.light-menu__ul-min:focus ul,
.dark-menu__ul-min:hover ul,
.dark-menu__ul-min:focus ul {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
}

.my-works {
  width: 100%;
}
.main-examples {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
}

.my-works .main-selected {
  margin: 5px 5vw;
}

.site {
  position: relative;
  iframe {
    width: 280px;
    height: 380px;
  }
}

.examples-wind {
  a {
    // background-color: var(--darc-text-G-colof);
    position: absolute;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid var(--darc-text-G-colof);
    img {
      height: 30px;
    }
  }
}
